# Adapted from the clang format style used in the mozilla-central repo
BasedOnStyle: Google

SortIncludes: false
IndentPPDirectives: AfterHash

# coding style
DerivePointerAlignment: false
PointerAlignment: Left
